@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    bACKGROUND:#E5E5E5;
    font-family: 'Roboto', 'Arial';
}
.container {
    width: 100%;
}

/* Login and Register form */
.form {
    width: 50%;
    margin: 30px auto;
}

.form h3 {
    text-align: center;
    text-transform: uppercase;
    color: #133237;
    margin-bottom: ;
}

.form-group input {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1em;

}

/* Alert */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
  }

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #338593;
    color: 	#f2f2f2;
}

.logo {
    font-family: 'Amatic SC';
    padding: 10px 10px;
    font-weight: 700;
    font-size: 2.5em;
}

.nav-links {
    font-family: 'Roboto', 'Arial';
    text-transform: uppercase;
    font-weight: 600;
    list-style: none;
}

.nav-links  li{
    display: inline-block;
    padding: 0px 20px;
}

/* Landing */
.landing {
    margin: 15px 0; 
    font-family: 'Roboto', 'Arial';
    text-align: center;
}

.landing h2 {
    text-transform: uppercase;
    color: #133237;
    
}

/*AdminPanel */
.admin-table, th, td {
    width: 70%;
    margin: 10px auto;
    border-top: 1px solid black;
    border-bottom: 1px solid;
    border-collapse: collapse;
}

.admin-table th, td {
    padding: 15px;
    text-align: center;
}
